@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$racing-app-primary: mat-palette($mat-blue-grey, 900);
$racing-app-accent:  mat-palette($mat-red, 700);

$racing-app-background: mat-palette($mat-grey);

// The warn palette is optional (defaults to red).
$racing-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$racing-app-theme: mat-light-theme($racing-app-primary, $racing-app-accent, $racing-app-warn);
