<h1>Leaderboard</h1>

<table>
  <thead>
    <tr>
      <td><!-- Position --></td>
      <td><!-- Color --></td>
      <td><!-- Name --></td>
      <td><!-- Team --></td>
      <td>Lap time</td>
      <td>Gap</td>
      <td>Date</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td><div class="blue" style="background-color: blue"></div></td>
      <td>Helmer Baas</td>
      <td>MT</td>
      <td>1:19.470</td>
      <td></td>
      <td>An hour ago</td>
    </tr>

  </tbody>


</table>
